@inherits LayoutComponentBase

<div class="page" data-bs-theme="dark">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <article class="content h-100 align-items-center px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
